<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # Allow direct access to existing files and directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Rewrite all requests to index.php
    RewriteRule ^(.*)$ index.php [L]
</IfModule>

<IfModule mod_dir.c>
    DirectoryIndex index.php index.html
</IfModule>

# Allow access to all files
<FilesMatch ".*">
    Allow from all
</FilesMatch>
